<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Home{% endblock %}</title>
    <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="icon" href="favicon_io (1)/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <header class="header">

    </header>

    <main>
        <section>
            <div class="even-columns">
                <div>

            
                    <div>
                        <h1 class="large-heading">Hi</h1>
                    </div>
                    <div class="heading big-heading">
                        <p>I'm <br>Baemax</p>
                    </div>
                </div>
                <div class="align-right">
                    <div class="textbox button-text ">
                        <p class="multiply">Your personal healthcare companion</p>
                    </div>
                    <div class="textbox button-text ">
                        <p class="multiply">chat with me!</p>
                    </div>
                </div>
                <div></div>
                
            </div>

        </section>



        <div class="row">
            
            
                <div class="box bg-clr-red small-text ">
                    
                        <span>about</span>
                    
                    
                </div>
                <div class="box bg-clr-blue small-text">
                    <containter>
                        <p>about</p>
                    </containter>
                    
                </div>
                <div class="box bg-clr-yellow small-text">
                    <containter>
                        <p>about</p>
                    </containter>
                    
                </div>                        
            

        </div>

        <section>
            <div class="even-columns">
                <container>

                
                    <div>
                        <ul>
                            <li>                    
                                <button class="button button-text fs-normal" onclick="location.href = '/signup';">Sign Up</button></li>
                            <li>
                                <button class="button button-text fs-normal" onclick="location.href = '/login';">Login</button></li>
                            </li>

                            
                        </ul>

                    </div>
                </container>
                <div>
                    <container>
                        <p class="small-text border">learn more about how lorem ipsum es agricolam dominus rex in villa murus mare interfecio conor</p>
                   
                </container>
                </div>  
            </div>
        </section>

        

        
    </main>
  </body>
</html>